<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Daury Mendes</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/portfolio">Aulas</a>
      </div>
    </header>

    <div id="wrapper">
      <img
        src="https://avatars2.githubusercontent.com/u/4925814?s=460&u=96551af1efae9c600457ae388077aa03e18f5b1a&v=4"
        alt="Foto Daury Mendes"
      />
      <h1>Daury Mendes</h1>
      <h2>junior web developer</h2>
      <p>
        Programadora full-stack iniciante com foco em HTML, CSS e JavaScript.
        Estudante do Bootcamp Launchbase da
        <a href="https://rocketseat.com.br" target="_blank">Rocketseat</a>.
      </p>
    </div>

    <div id="links-footer" class="links">
      <a href="https://www.github.com/dauryellen/" target="_blank">Github</a>
      <a href="https://www.linkedin.com/in/dauryellen/" target="_blank"
        >Linkedin</a
      >
      <a href="https://www.twitter.com/dauryoque/" target="_blank">Twitter</a>
    </div>
  </body>
</html>
