<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Daury Mendes</title>

    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap"
    />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/">Sobre</a>
        <a href="/portfolio">Aulas</a>
      </div>
    </header>

    <div id="wrapper">
      <h1>Aulas</h1>
    </div>

    <section class="cards">
      <div class="card" id="GykTLqODQuU">
        <div class="card-image-container">
          <img
            src="https://img.youtube.com/vi/GykTLqODQuU/0.jpg"
            alt="Formulário animado com js e css"
          />
        </div>
        <div class="card-content">
          <p>Formulário Animado com JS Puro e CSS Animation</p>
        </div>
        <div class="card-info">
          <p>57 min</p>
          <p class="card-price">FREE</p>
        </div>
      </div>

      <div class="card" id="2alg7MQ6_sI">
        <div class="card-image-container">
          <img
            src="https://img.youtube.com/vi/2alg7MQ6_sI/0.jpg"
            alt="Videoaula git e github"
          />
        </div>
        <div class="card-content">
          <p>Como Usar Git e Github na Prática</p>
        </div>
        <div class="card-info">
          <p>33 min</p>
          <p class="card-price">FREE</p>
        </div>
      </div>

      <div class="card" id="GSqR2i-Pq6o">
        <div class="card-image-container">
          <img
            src="https://img.youtube.com/vi/GSqR2i-Pq6o/0.jpg"
            alt="Videoaula variável this"
          />
        </div>
        <div class="card-content">
          <p>Desvendando a Variável This</p>
        </div>
        <div class="card-info">
          <p>48 min</p>
          <p class="card-price">FREE</p>
        </div>
      </div>

      <div class="card" id="ghTrp1x_1As">
        <div class="card-image-container">
          <img
            src="https://img.youtube.com/vi/ghTrp1x_1As/0.jpg"
            alt="Videoaula api"
          />
        </div>
        <div class="card-content">
          <p>O Que é API? REST e RESTful?</p>
        </div>
        <div class="card-info">
          <p>33 min</p>
          <p class="card-price">FREE</p>
        </div>
      </div>

      <div class="card" id="rAzHvYnQ8DY">
        <div class="card-image-container">
          <img
            src="https://img.youtube.com/vi/rAzHvYnQ8DY/0.jpg"
            alt="Videoaula Array"
          />
        </div>
        <div class="card-content">
          <p>Array: High Order Functions</p>
        </div>
        <div class="card-info">
          <p>54 min</p>
          <p class="card-price">FREE</p>
        </div>
      </div>

      <div class="card" id="c7P03kkrEG8">
        <div class="card-image-container">
          <img
            src="https://img.youtube.com/vi/c7P03kkrEG8/0.jpg"
            alt="Videoaula vscode"
          />
        </div>
        <div class="card-content">
          <p>Configurando VSCode para Node.js</p>
        </div>
        <div class="card-info">
          <p>22 min</p>
          <p class="card-price">FREE</p>
        </div>
      </div>
    </section>

    <div class="modal-overlay">
      <div class="modal">
        <a class="close-modal">
          <i class="material-icons">
            close
          </i>
        </a>

        <div class="modal-content active">
          <iframe src="" frameborder="0"></iframe>
        </div>
      </div>
    </div>

    <script src="./scripts.js"></script>
  </body>
</html>
