{% extends "layout.njk" %}

{% block head %}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <title>Conteúdos</title>
{% endblock head %}

{% block content %}
  <div id="wrapper-conteudo">
    <section class="cursos">
      {% for conteudo in conteudos %}

        <div class="curso {{ conteudo.name }}" id="{{ conteudo.name }}">
          <img src="/images/{{ conteudo.name }}.svg" alt="Curso {{ conteudo.name }}"/>
          <p>
            {{ conteudo.description }}
          </p>
        </div>

      {% endfor %}
    </section>
  </div>

  {% include "modal.njk" %}

  <script src="script.js"></script>
{% endblock content %}