<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/style.css"/>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <header>
      <nav>
        <a href="/conteudos">conteúdos</a>
        <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">comunidade</a >
        <a href="mailto:oi@rocketseat.com.br" target="_blank">e-mail</a>
        <a href="tel:+5547992078767" target="_blank">telefone</a>
        <a href="/">sobre</a>
      </nav>
    </header>

    {% block content %}{% endblock content %}

  </body>
</html>