<div class="modal-overlay">
  <div class="modal">
    <a class="max-modal">
      <i class="material-icons">
        open_in_full
      </i>
    </a>
    <a class="close-modal">
      <i class="material-icons">
        close
      </i>
    </a>

    <div class="modal-content">
      <!-- página do curso aqui -->
      <iframe src="" frameborder="0"></iframe>
    </div>
  </div>
</div>