{% extends "layout.njk" %}

{% block head %}
  <title>Sobre</title>
{% endblock head %}

{% block content %}
  <div id="wrapper-sobre">
    <img class="img-principal" src="https://avatars0.githubusercontent.com/u/28929274?s=200&v=4" alt=""/>

    <h1>Rocketseat</h1>
    <h2>
      As melhores tecnologias em programação, direto ao ponto e do jeito certo.
    </h2>
    <div id="tecnologias">
      <ul>
        <li>
          <img src="/images/javascript.svg" alt="Logomarca do JavaScript"/>
        </li>
        <li><img src="/images/node.svg" alt="Logomarca do NodeJS"/></li>
        <li><img src="/images/react.svg" alt="Logomarca do React"/></li>
      </ul>
    </div>
  </div>
  <footer id="footer">
    <a href="http://instagram.com/rocketseat_oficial/" target="_blank">instagram</a >
    <a href="https://github.com/Rocketseat/" target="_blank">github</a>
    <a href="http://fb.com/rocketseat/" target="_blank">facebook</a>
  </footer>
{% endblock content %}

</body>
</html>